@model List<ComiShop.ViewModels.WarehouseView>

@{
    ViewData["Title"] = "DataWarehouse";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="page-wrapper">
    <div class="main-page">
        <div class="row">
            <h4>Warehouse</h4>
            <hr />
            <div class="col-md-10">
                <table class="table table-responsive table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Product Name</th>
                            <th>Product Description</th>
                            <th>Product Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @foreach (var product in item.ProductList)
                            {
                                @if (product.Equals(item.ProductList[0]))
                                {
                                    <tr>
                                        <td rowspan="@item.ProductList.Count()" style="vertical-align: middle">@item.CategoryName</td>
                                        <td>
                                            <a asp-action="ProductDetail" asp-route-id="@(product.Id)">@product.ProductName</a>
                                        </td>
                                        <td>
                                            @product.ProductDes
                                        </td>
                                        <td>
                                            @product.UnitPrice
                                        </td>
                                        <td>
                                            @product.Quantity
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="ProductDetail" asp-route-id="@(product.Id)">@product.ProductName</a>
                                        </td>
                                        <td>
                                            @product.ProductDes
                                        </td>
                                        <td>
                                            @product.UnitPrice
                                        </td>
                                        <td>
                                            @product.Quantity
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        </tbody>                    
                </table>
                <div>
                </div>
            </div>
        </div>
        <div>
            @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
    
