
@{
    ViewData["Title"] = "Index";
    int seq = 0;
    var items = (List<ItemViewModel>)ViewBag.cart;
}

<div class="content">
    <div class="cart-items">
        <div class="container">
            <h2>Shopping cart</h2>
            <div class="bs-docs-example">
                @if (ViewBag.cart != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Photo</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in items)
                            {
                                var pt = item.Product.ProductDetails.ToList()[0].ProductImage;
                                @(seq++);
                                <tr>
                                    <td>@seq</td>
                                    <td><img src="~/images/@pt" class="img-responsive" alt=""></td>
                                    <td>@item.Product.ProductName</td>
                                    <td><span class="badge badge-primary">@item.Product.UnitPrice</span></td>
                                    <td><span class="badge badge-primary">@item.Quantity</span></td>
                                    <td><span class="badge badge-primary">@(item.Product.UnitPrice * item.Quantity)</span></td>
                                    <td><a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Product.Id" id="removeItem" class="btn btn-default">Remove</a></td>
                                </tr>
                            }
                            <tr>
                                <td colspan="5" align="right">Total</td>
                                <td><span class="badge badge-danger">@ViewBag.Total</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <a asp-controller="Book" asp-action="Index" class="btn btn-default">Continue shopping</a>
                    </div>
                }
                else
                {
                    <h3>No item</h3>
                }
            </div>

            <div>
                Chọn phương thức thanh toán
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <form action="@ViewBag.PayPalConfig.PostUrl" method="post">

                        <input type="hidden" name="upload" value="1" />
                        <input type="hidden" name="return" value="@ViewBag.PayPalConfig.ReturnUrl" />
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="business" value="@ViewBag.PayPalConfig.Business" />
                        <input type="hidden" name="currency_code" value="USD" />

                        @{var index = 1; }

                        @foreach (var i in ViewBag.cart)
                        {
                            <input type="hidden" name="item_number_@index" value="@i.Product.Id" />
                            <input type="hidden" name="item_name_@index" value="@i.Product.ProductName" />
                            <input type="hidden" name="amount_@index" value="@i.Product.UnitPrice" />
                            <input type="hidden" name="quantity_@index" value="@i.Quantity" />
                            index++;
                        }
                        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" />
                    </form>
                </div>
                <div class="col-md-2">
                    <a asp-controller="Cart" asp-action="CheckOut" asp-route-id="cash" class="btn btn-default">Cash</a>
                </div>
            </div>
            
            
        </div>
    </div>
    
    <!-- checkout -->
</div>

