@{
    ViewBag.Title = "Home page";
    var flag = 0;
}

<div class="banner-w3">
    <div class="demo-1">
        <div id="example1" class="core-slider core-slider__carousel example_1">
            <div class="core-slider_viewport">
                <div class="core-slider_list">
                    <div class="core-slider_item">
                        <img src="~/images/desk-white-black-header2.jpg" class="img-responsive" alt="">
                    </div>
                    <div class="core-slider_item">
                        <img src="~/images/pexels-photo-1098601.jpeg" class="img-responsive" alt="">
                    </div>
                    <div class="core-slider_item">
                        <img src="~/images/pexels-photo-1526049.jpeg" class="img-responsive" alt="">
                    </div>
                    <div class="core-slider_item">
                        <img src="~/images/pexels-photo-459791.jpeg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="core-slider_nav">
                <div class="core-slider_arrow core-slider_arrow__right"></div>
                <div class="core-slider_arrow core-slider_arrow__left"></div>
            </div>
            <div class="core-slider_control-nav"></div>
        </div>
    </div>
    <link href="~/css/coreSlider.css" rel="stylesheet" type="text/css">
    <script src="~/js/coreSlider.js"></script>
    <script>
			$('#example1').coreSlider({
			  pauseOnHover: false,
			  interval: 3000,
			  controlNavEnabled: true
			});

    </script>

</div>
<div class="content">
    <div class="ban-bottom-w3l">
        <div class="container">
            <div class="col-md-6 ban-bottom">
                <div class="ban-top">
                    <img src="~/images/pexels-photo-590493.jpeg" width="540" height="580" alt="" />
                </div>
            </div>
            <div class="col-md-6 ban-bottom3">
                <div class="ban-top">
                    <img src="~/images/pexels-photo-904616.jpeg" width="540" height="295" alt="" />
                </div>
                <div class="ban-img">
                    <div class=" ban-bottom1">
                        <div class="ban-top">
                            <img src="~/images/stack-of-books-vintage-books-book-books.jpg" width="259" height="259" alt="" />
                        </div>
                    </div>
                    <div class="ban-bottom2">
                        <div class="ban-top">
                            <img src="~/images/pexels-photo-176103.jpeg" width="259" height="259" alt="" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--banner-bottom-->
    <!--new-arrivals-->
    <div class="new-arrivals-w3agile">
        <div class="container">
            <h2 class="tittle">New Arrivals</h2>
            <div class="arrivals-grids">
                @foreach (var i in ViewBag.NewProduct)
                {
                    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@i.Id" class="new-grid">
                                        @foreach (var detail in i.ProductDetails)
                                        {
                                            flag++;
                                            <div class="grid-img">
                                                <img src="~/images/@detail.ProductImage" width="235" height="314" alt="">
                                            </div>
                                            if (flag == 2)
                                            { break; }

                                        }
                                    </a>
                                </figure>
                            </div>
                            <div class="ribben">
                                <p>NEW</p>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <p><b><a asp-controller="Product" asp-action="Details" asp-route-id="@i.Id">@i.ProductName</a></b></p>
                                <p><em class="item_price">$@i.UnitPrice</em></p>
                                <a asp-controller="Cart" asp-action="Buy" asp-route-id="@i.Id" data-text="Add To Cart" class="my-cart-b item_add addItem">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--new-arrivals-->
    <!--accessories-->
    <div class="accessories-w3l">
        <div class="container">
        </div>
    </div>
    <!--accessories-->
    <!--Products-->
    <div class="new-arrivals-w3agile">
        <div class="container">
            <h3 class="tittle1">Best Sellers</h3>
            <div class="arrivals-grids">
                @foreach (var i in ViewBag.BestSellers)
                {
                    flag = 0;
                    <div class="col-md-3 arrival-grid simpleCart_shelfItem">
                        <div class="grid-arr">
                            <div class="grid-arrival">
                                <figure>
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@i.Id">
                                        @foreach (var detail in i.ProductDetails)
                                        {
                                            flag++;
                                            <div class="grid-img">
                                                <img src="~/images/@detail.ProductImage" width="235" height="314" alt="">
                                            </div>
                                            if (flag == 2)
                                            { break; }

                                        }
                                    </a>
                                </figure>
                            </div>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <div class="women">
                                <h6><a asp-controller="Product" asp-action="Details" asp-route-id="@i.Id">@i.ProductName</a></h6>
                                <p><em class="item_price">$@i.UnitPrice</em></p>
                                <a <a asp-controller="Cart" asp-action="Buy" asp-route-id="@i.Id" data-text="Add To Cart" class="my-cart-b item_add addItem">Add To Cart</a>
                            </div>
                        </div>
                    </div>
                }
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--Products-->
    @*<div class="latest-w3">
        <div class="container">
            <h3 class="tittle1">Latest Fashion Trends</h3>
            <div class="latest-grids">
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="images/l1.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Men</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-50%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="images/l2.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Shoes</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-20%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="images/l3.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Women</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-50%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="latest-grids">
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="images/l4.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Watch</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-45%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="images/l5.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Bag</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-10%</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 latest-grid">
                    <div class="latest-top">
                        <img src="images/l6.jpg" class="img-responsive" alt="">
                        <div class="latest-text">
                            <h4>Cameras</h4>
                        </div>
                        <div class="latest-text2 hvr-sweep-to-top">
                            <h4>-30%</h4>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>*@

    <!--new-arrivals-->

    <script>
        $(document).ready(function () {
            $(".addItem").click(function (e) {
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("href"),
                    success: function () {
                        alert("Item added");
                    }
                });

            });
        });
    </script>

</div>
<!--content-->