@model ProductDetailViewModel
@{
    ViewBag.Title = "Detail";
}

@section scripts{
    <link href="~/css/zoomimage.css" rel="stylesheet" />
}

<!--banner-->
<div class="banner1">
    <div class="container">
        <h3><a href="index.html">Home</a> / <span>Products</span></h3>
    </div>
</div>
<!--banner-->
<!--content-->
<div class="content">
    <!--single-->
    <div class="single-wl3">
        <div class="container">
            <div class="single-grids">
                <div class="col-md-9 single-grid">
                    <div clas="single-top">
                        <div class="single-left">
                            <div class="row">
                                <ul class="list-inline gallery">
                                    @foreach (var i in Model.ProductListViewModel.ProductDetails.Take(3))
                                    {
                                        <li>
                                            <img src="~/images/@i.ProductImage" class="thumbnail zoom img-responsive ">
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="single-right simpleCart_shelfItem">
                            <h4>@Model.ProductListViewModel.ProductName</h4>
                            <div class="block">
                                <div class="starbox small ghosting"> </div>
                            </div>
                            <p class="price item_price">$ @Model.ProductListViewModel.UnitPrice</p>
                            <div class="description">
                                <p><span>Quick Overview : </span> @Model.ProductListViewModel.ProductDes</p>
                            </div>
                            <div class="color-quality">
                                <h6>Quality :</h6>
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value-minus1">&nbsp;</div>
                                        <div id="productQuan" class="entry value1"><span>1</span></div>
                                        <div class="entry value-plus1 active">&nbsp;</div>
                                    </div>
                                </div>
                                <!--quantity-->
                                <script>
                                    $('.value-plus1').on('click', function () {
                                        var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) + 1;
                                        divUpd.text(newVal);
                                    });

                                    $('.value-minus1').on('click', function () {
                                        var divUpd = $(this).parent().find('.value1'), newVal = parseInt(divUpd.text(), 10) - 1;
                                        if (newVal >= 1) divUpd.text(newVal);
                                    });
                                </script>
                                <!--quantity-->
                            </div>
                            <div class="women">
                                <span class="size">XL / XXL / S </span>
                                <a asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.ProductListViewModel.Id" id="addItem" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart </a>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    $(document).on('click', "#addItem", function (e) {

                                        e.preventDefault();
                                        $.ajax({
                                            url: $(this).attr("href"),
                                            type: 'GET',
                                            data: {
                                                quantity: $("#productQuan").text()
                                            },
                                            success: function () {
                                                alert("Value Added");
                                            }, error: function () {

                                            }
                                        });

                                    });
                                });
                            </script>

                            <div class="social-icon">
                                <a href="#"><i class="icon"></i></a>
                                <a href="#"><i class="icon1"></i></a>
                                <a href="#"><i class="icon2"></i></a>
                                <a href="#"><i class="icon3"></i></a>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-md-3 single-grid1">
                    <h3>Recent Products</h3>
                    @foreach (var item in ViewBag.RecentProducts)
                    {
                        <div class="recent-grids">
                            <div class="recent-left">
                                @foreach (var itemDetail in item.ProductDetails)
                                {
                                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"><img class="img-responsive " src="~/images/@itemDetail.ProductImage" alt=""></a>
                                    break;
                                }
                            </div>
                            <div class="recent-right">
                                <h6 class="best2"><a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id">@item.ProductName </a></h6>
                                <div class="block">
                                    <div class="starbox small ghosting"> </div>
                                </div>
                                <span class=" price-in1"> $ @item.UnitPrice</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
            <!--Product Description-->
            <div class="product-w3agile">
                <h3 class="tittle1">Product Description</h3>
                <div class="product-grids">
                    <div class="col-md-4 product-grid">
                        <div id="owl-demo" class="owl-carousel">
                            <div class="item">
                                @foreach (var np in ViewBag.NewProduct)
                                {
                                    <div class="recent-grids">
                                        <div class="recent-left">
                                            @foreach (var itemDetail in np.ProductDetails)
                                            {
                                                <a asp-controller="Product" asp-action="Details" asp-route-id="@np.Id"><img class="img-responsive " src="~/images/@itemDetail.ProductImage" alt=""></a>
                                                break;
                                            }
                                        </div>
                                        <div class="recent-right">
                                            <h6 class="best2"><a asp-controller="Product" asp-action="Details" asp-route-id="@np.Id">@np.ProductName </a></h6>
                                            <div class="block">
                                                <div class="starbox small ghosting"> </div>
                                            </div>
                                            <span class=" price-in1"> $ @np.UnitPrice</span>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <img class="img-responsive " src="images/woo2.jpg" alt="">
                    </div>
                    <div class="col-md-8 product-grid1">
                        <div class="tab-wl3">
                            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                                    <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Description</a></li>
                                    <li role="presentation"><a href="#reviews" role="tab" id="reviews-tab" data-toggle="tab" aria-controls="reviews">Reviews (1)</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                        <div class="descr">
                                            <h4>@Model.ProductListViewModel.ProductName </h4>
                                            <p>@Model.ProductListViewModel.DesDetail</p>
                                            <p class="quote">Thanks you</p>

                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="reviews" aria-labelledby="reviews-tab">
                                        <div class="descr">
                                            <div class="grid_3 grid_5">
                                                <h3>Comments</h3>
                                                @foreach (var cmt in Model.CommentViewModels)
                                                {
                                                    @*<label>@cmt.ApplicationUser.Email</label>*@
                                                    <div class="well">@cmt.Context</div>
                                                }
                                            </div>
                                            <div class="reviews-bottom">
                                                <h4>Add Reviews</h4>
                                                <p>Your email address will not be published. Required fields are marked *</p>
                                                <p>Your Rating</p>
                                                <div class="block">
                                                    <div class="starbox small ghosting"><div class="positioner"><div class="stars"><div class="ghost" style="width: 42.5px; display: none;"></div><div class="colorbar" style="width: 42.5px;"></div><div class="star_holder"><div class="star star-0"></div><div class="star star-1"></div><div class="star star-2"></div><div class="star star-3"></div><div class="star star-4"></div></div></div></div></div>
                                                </div>
                                                <form asp-controller="Product" asp-action="Comment" asp-route-id="@Model.ProductListViewModel.Id" method="post">
                                                    <label>Your Review </label>
                                                    <textarea asp-for="CommentCreateViewModel.Context" type="text" Name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                                                    <input type="submit" value="SEND">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="custom" aria-labelledby="custom-tab">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <!--Product Description-->
        </div>
    </div>
</div>
<!--content-->
