@model PageViewModel
@{
    ViewBag.Title = "Product list";
    int flag;
    List<Category> categories = (List<Category>)ViewBag.Category;
}
@section scripts{
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

<!--banner-->
<div class="banner1">
    <div class="container">
        <h3><a asp-controller="Book" asp-action="Index">Home</a> / <span>Products</span></h3>
    </div>
</div>
<!--banner-->
<!--content-->
<div class="content">
    <div class="products-agileinfo">
        <div class="container">
            <div class="product-agileinfo-grids w3l">
                <div class="col-md-3 product-agileinfo-grid">
                    <div class="categories">
                        <h3>Categories</h3>
                        <ul class="tree-list-pad">
                            <li>
                                <input type="checkbox" checked="checked" id="item-0" /><label for="item-0"><span></span>Văn học</label>
                                <ul>
                                    @foreach(var c in categories.Where(c => c.Parent == 1))
                                    {
                                        <li><a asp-controller="Product" asp-action="ProductList" asp-route-id="@c.Id">@c.CategoryName</a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" checked="checked" id="item-1" /><label for="item-1"><span></span>Kinh tế</label>
                                <ul>
                                    @foreach(var c in categories.Where(c => c.Parent == 2))
                                    {
                                        <li><a asp-controller="Product" asp-action="ProductList" asp-route-id="@c.Id">@c.CategoryName</a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" checked="checked" id="item-2" /><label for="item-2"><span></span>Thiếu nhi</label>
                                <ul>
                                    @foreach(var c in categories.Where(c => c.Parent == 3))
                                    {
                                        <li><a asp-controller="Product" asp-action="ProductList" asp-route-id="@c.Id">@c.CategoryName</a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="price">
                        <h3>Price Range</h3>
                        <form asp-controller="Product" asp-action="ProductList" asp-route-id="@ViewBag.id" method="post">
                            <select id="SearchPrice" name="SearchPrice" asp-items="ViewBag.SearchPrice"></select>
                            <br /><button type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-9 product-agileinfon-grid1 w3l">
                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav1 nav1-tabs left-tab" role="tablist">
                            <ul id="myTab" class="nav nav-tabs left-tab" role="tablist">
                                <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><img src="~/images/menu1.png"></a></li>
                                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile"><img src="~/images/menu.png"></a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                                    <div class="product-tab">
                                        @foreach (var p in Model.ProductListViewModels)
                                        {
                                            flag = 0;
                                            <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                                                <div class="grid-arr">
                                                    <div class="grid-arrival">
                                                        <figure>
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@p.Id" class="new-gri" >
                                                                @foreach (var photo in p.ProductDetails)
                                                                {
                                                                    flag++;
                                                                    <div class="grid-img">
                                                                        <img src="~/images/@(photo.ProductImage)" width="235" height="314" alt="" asp-append-version="true">
                                                                    </div>
                                                                    if (flag == 2)
                                                                    { break; }
                                                                }
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <div class="block">
                                                        <div class="starbox small ghosting"> </div>
                                                    </div>
                                                    <div class="women">
                                                        <p><b><a asp-controller="Product" asp-action="Details" asp-route-id="@p.Id">@p.ProductName</a></b></p>
                                                        <p><em class="item_price">$@p.UnitPrice</em></p>
                                                        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@p.Id" data-text="Add To Cart" class="my-cart-b item_add addItem">Add To Cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="clearfix"></div>
                                    </div>

                                    <script>
                                        $(document).ready(function () {
                                            $(".addItem").click(function (e) {

                                                e.preventDefault();
                                                $.ajax({
                                                    url: $(this).attr("href"),
                                                    success: function () {
                                                        alert("Item added");
                                                    }
                                                });

                                            });
                                        });                                        
                                    </script>

                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                                    @foreach (var p in Model.ProductListViewModels)
                                    {
                                        <div class="product-tab1">
                                            <div class="col-md-4 product-tab1-grid">
                                                <div class="grid-arr">
                                                    <div class="grid-arrival">
                                                        <figure>
                                                            <a asp-controller="Product" asp-action="Details" asp-route-id="@p.Id" class="new-gri">
                                                                <div class="grid-img">
                                                                    <img src="~/images/@(p.ProductDetails.FirstOrDefault().ProductImage)" width="235" height="314" alt="" asp-append-version="true">
                                                                </div>
                                                                <div class="grid-img">
                                                                    <img src="~/images/@(p.ProductDetails.LastOrDefault().ProductImage)" width="235" height="314" alt="" asp-append-version="true">
                                                                </div>
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                                                <div class="block">
                                                    <div class="starbox small ghosting"> </div>
                                                </div>
                                                <div class="women">
                                                    <h6><a asp-controller="Product" asp-action="Details" asp-route-id="@p.Id">@p.ProductName</a></h6>
                                                    <p>@p.ProductDes</p>
                                                    <p><em class="item_price">$@p.UnitPrice</em></p>
                                                    <a asp-controller="Cart" asp-action="Buy" asp-route-id="@p.Id" data-text="Add To Cart" class="my-cart-b item_add">Add To Cart</a>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </ul>
                    </div>
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li>
                                    <a href="~/Home/Index">First</a>
                                </li>
                                <li>
                                    <a href="~/Home/Index?page=@(Model.Pager.CurrentPage - 1)">Previous</a>
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {
                                <li class="@(page == Model.Pager.CurrentPage ? "active" : "")">
                                    <a href="~/Home/Index?page=@(page)">@(page)</a>
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li>
                                    <a href="~/Home/Index?page=@(Model.Pager.CurrentPage + 1)">Next</a>
                                </li>
                                <li>
                                    <a href="~/Home/Index?page=@(Model.Pager.TotalPages)">Last</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--content-->